@import './scss/generics/reset';
@import './scss/elements/navigation';
@import './scss/elements/heroes';
@import './scss/elements/singleHero';
@import './scss/elements/footer';
@import './scss/elements/search';
@import './scss/elements/detailsHeroes';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
  font-family: 'Comic Neue', cursive;
  font-weight: 500;
}

.all__content{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
