.description__hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .description{
    font-size:1.3em;
    line-height:1.2em;
    padding:0.2em;
  }

  .single__hero {
    cursor:none;
    &:hover {
      transform: none;
      &:after {
        opacity: 0;
      }
    }
  }
}

span{
  font-weight: bold;
}

@media (min-width:576px){
  .description{
    width: 40%;
  }
}