.navigation {
  height: 80px;
  background-color: black;
  color: white;
  margin-bottom:20px;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
      .navigation__logo {
        width: 100px;
      }
  }
}

.navigation__search {
display:flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
  input {
    height: 2em;
    border: 5px;
    border-radius: 10px;
    margin:0.1em 0.2em;
    background-color:white;
    cursor:pointer;
      &::placeholder{
        color:lightgray;
      }

  }
  button{
    margin:0.1em 0.2em;
    height: 2.2em;
    padding: 0.2em;
    border-radius: 10px;
    border:2px solid white;
    background: transparent;
    color:white;
    transition:0.5s;
      &:hover{
        background: white;
        color:black;
        cursor:pointer;
      }
  }

}

@media (max-width:576px) {
  input {
    width: 6.2em;
  }
}